# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Logs
*.log

# macOS
.DS_Store

# Vector Database
vectorstore/

# MLflow
mlruns/

# Python cache
.pytest_cache/
